<html>
    <head>
        <title>CampFireStories</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landingPage.css">
    </head>
    <body style="background-image: url(<%= campground.image %>);">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <a href="/" class="navbar-brand navText">Campfire Stories</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a class="navText" href="/login">Login</a></li>
                        <li><a class="navText" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a class="navText" href="#"><%= currentUser.username %></a></li>
                        <li><a class="navText" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
              </div>
            </div>
        </nav>
