<% include partials/landingPageHeader %>
<div class="jumbotron">
  <h1>Campfire Stories</h1>
    <p>Rate and review campsites and hiking trails.</p>
</div>
<div class="row lpButtonGroup">
  <div class="col-sm-12 col-md-4">
    <a class="lpButton btn" href="/register">Sign Up</a>
  </div>
  <div class="col-sm-12 col-md-4">
    <a class="lpButton btn" href="/campgrounds">View All Campgrounds</a>
  </div>
  <div class="col-sm-12 col-md-4">
    <a class="lpButton btn" href="/campgrounds/new">Write A Review</a>
  </div>
</div>
<p class="bgInfo"><a href="/campgrounds/<%= campground.id %>"><b><%= campground.name %> posted by <%= campground.author.username %></b></a></p>

<% include partials/footer %>
