<% include partials/landingPageHeader %>
<div class="logUp jumbotron">
  <h1>Login</h1>
  <form action="/login" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button>Login</button>
  </form>
</div>
<p class="bgInfo"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %> posted by <%= campground.author.username %></a></p>

<% include partials/footer%>
