<% include partials/landingPageHeader %>
<div class="logUp">
  <h1>Sign up!</h1>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password">
    </div>
      <button>Sign Up</button>
  </form>
</div>
<p class="bgInfo"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %> posted by <%= campground.author.username %></a></p>

<% include partials/footer %>
