<% include ../partials/header %>

<div class="container-fluid">
    <header class="jumbotron">
        <div class="container-fluid">
            <h1>Camp Grounds!!</h1>
            <p><b>Check out reviews and recommendations for campgrounds all over the world!</b></p>
            <p>
                <a class="btn enter" href="/campgrounds/new">Add a new campground</a>
            </p>
        </div>
    </header>


    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <image src="<%= campground.image %>"></image>
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn thumbBtn">More info</a>
                </p>
            </div>
        </div>

        <% }); %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <a class="btn thumbBtn bottomButton" href="/">Back to landing page</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <a class="btn thumbBtn bottomButton" href="/register">Sign Up</a>
      </div>
    </div>
</div>
<footer>
  <div>
    <a class="foota pull-right" href="http://evan-allen.herokuapp.com/#contact" target="_blank" rel="noopener noreferrer">Contact the developer</a>
  </div>
</footer>
<% include ../partials/footer %>
