body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
html, body {
  height: 100%;
  width: 100%;
}
.bgInfo {
  bottom: 2em;
  color: rgb(244,157,110);
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  bottom: 0.5em;
  width: 100%;
}
.bgInfo>a {
  color: rgb(244,157,110);
}
.enter {
  background-color: transparent;
  color: rgb(244,157,110);
  border: 5px solid rgb(244,157,110);
}
.enter:hover {
  color: rgb(239,212,108);
}
.icon-bar {
  color: rgb(244,157,110);
  border-color: rgb(244,157,110);
  background-color: rgb(244,157,110);
}
.logUp {
  color: rgb(244,157,110);
  width: 100%;
  margin: 3em auto;
  background-color: rgba(65,96,127,0.8);
  border: 3px solid rgb(244,157,110);
  border-radius: 10px;
  padding: 1em;
}
.lpButton {
  background-color: rgba(65,96,127,0.8);
  color: rgb(244,157,110);
  border: 3px solid rgb(244,157,110);
  border-radius: 10px;
  width: 100%;
}
.lpButton:hover {
  color: rgb(239,212,108);
}
.lpButton>a {
  color: rgb(244,157,110);
}
.lpButtonGroup {
  margin: 1em 5em 1em 3em;
}
.navbar {
  background-color: rgba(65,96,127,0.8);
  color: rgb(244,157,110);
}
.navbar-toggle {
  color: rgb(244,157,110);
  border-color: rgb(244,157,110);
}
.nav>li>a:hover {
  color: rgb(239,212,108);
  background-color: inherit;
}
.navText {
  color: rgb(244,157,110);
}
.navText:hover {
  background-color: inherit;
  color: rgb(239,212,108);
}
.jumbotron {
  background-color: rgba(65,96,127,0.8);
  text-align: center;
  color: rgb(244,157,110);
  border: 3px solid rgb(244,157,110);
  border-radius: 10px;
}
.jumbotron>h1 {

}
.jumbotron>h3 {

}
