body {
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: rgba(65,96,127,1);
  color: rgb(244,157,110);
}
.jumbotron {
  background-color: rgba(65,96,127,0.8);
  background-position: center;
  text-align: center;
  color: rgb(244,157,110);
  margin: auto 5em;
  border: 3px solid rgb(244,157,110);
  border-radius: 10px;
}
