
.navbar {
  background-color: rgba(65,96,127,0.8);
  color: rgb(244,157,110);
}
.navText {
  color: rgb(244,157,110);
}
#deleteForm {
    display: inline;
}
.hide {
  display: none;
}
.thumbnail>img {
    max-height: 15em;
    min-height: 15em;
}

.thumbnail{
    padding: 0;
    height: 25em;
}
