
body {
  height: 100%;
  width: 100%;
}
#deleteForm {
    display: inline;
}
.bottomButton {
  margin: 2em 1em;
}
.container-fluid {
  margin: auto 2em;
}
.enter {
  background-color: transparent;
  color: rgb(244,157,110);
  border: 5px solid rgb(244,157,110);
  font-size: 1em;
}
.enter:hover {
  color: rgb(239,212,108);
}
.hide {
  display: none;
}
.jumbotron {
  background-color: rgba(65,96,127,1);
  color: rgb(244,157,110);
  border: 3px solid rgb(244,157,110);
  border-radius: 10px;
}
.navbar {
  background-color: rgba(65,96,127,1);
  color: rgb(244,157,110);
}
.nav>li>a:hover {
  color: rgb(239,212,108);
  background-color: inherit;
}
.navText {
  color: rgb(244,157,110);
}
.navText:hover {
  background-color: inherit;
  color: rgb(239,212,108);
}
.thumbBtn {
  background-color: rgba(65,96,127,1);
  color: white;
}
.thumbBtn:hover {
  color: rgb(244,157,110);
}
.thumbnail>img {
    max-height: 15em;
    min-height: 15em;
}

.thumbnail{
    padding: 0;
    height: 25em;
    border: 3px solid rgb(244,157,110);
}
