
h1>a {
  color: rgba(65,96,127,1);
}
.activeLGI {
  background-color: rgba(65,96,127,1);
}
.container-fluid {
  padding-right: 2em;
}
.navbar {
  background-color: rgba(65,96,127,1);
  color: rgb(244,157,110);
}
.nav>li>a:hover {
  color: rgb(239,212,108);
  background-color: inherit;
}
.navText {
  color: rgb(244,157,110);
}
.navText:hover {
  background-color: inherit;
  color: rgb(239,212,108);
}
.thumbBtn {
  background-color: rgba(65,96,127,1);
  color: white;
  width: 100%;
  margin: 1em auto;
}
.thumbBtn:hover {
  color: rgb(244,157,110);
}
.thumbnail {
  border: 3px solid rgb(244,157,110);
}
